body{
  font-family: Arial;
  padding:20px;
}
.section{
  border:1px solid #ccc;
  padding:10px;
  margin-bottom:10px;
}
table{
  width:100%;
  border-collapse:collapse;
}
th,td{
  border:1px solid #aaa;
  padding:6px;
}
button{
  margin:5px;
}
