body{font-family:Arial;background:#f2f2f2}
.container{padding:20px}
.box{background:#fff;padding:15px;margin:10px 0;border-radius:6px}
input{margin:5px;padding:6px}
table{width:100%;border-collapse:collapse}
th,td{border:1px solid #ccc;padding:6px;text-align:center}
button{margin:5px;padding:6px 12px}
.voucher{background:white;padding:15px;margin-top:15px;border:2px dashed #000}